<div class = "botones">
    <button type = "button" class="btn btn-success" (click)="setMenuActivo()">Añadir juego </button>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 juego">
        <div class = "juego-title" >Jueguito</div>
      <img src="../../assets/placeholder1.jpg" alt="">
    </div>
    <div class="col-lg-4 juego">
      <img src="../../assets/placeholder1.jpg" alt="">
    </div>
    <div class="col-lg-4 juego">
      <img src="../../assets/placeholder1.jpg" alt="">
    </div>
    <div class="col-lg-4 juego">
      <img src="../../assets/placeholder1.jpg" alt="">
    </div>
    <div class="col-lg-4 juego">
      <img src="../../assets/placeholder1.jpg" alt="">
    </div>
    <div class="col-lg-4 juego">
      <img src="../../assets/placeholder1.jpg" alt="">
    </div>
    <div class="col-lg-4 juego">
      <img src="../../assets/placeholder1.jpg" alt="">
    </div>
    <div class="col-lg-4 juego">
      <img src="../../assets/placeholder1.jpg" alt="">
    </div>
  </div>
</div>