.metrica{
    position: relative;
}
.icons{
    position: absolute;
    right: 0;
}
.delete{
    font-size:30px;
    color:red;
}
.edit{
    font-size:20px;
    color:green;
}
.variable-metrica{
    background-color: #0069D9; 
    color: white;
    border-radius: 10px;
    margin: 3px;
    padding: 2px;
}
.variables-wrapper{
    margin-bottom: 5px;
}